<!DOCTYPE html>
<html>
<head>
    <title>Employee Management</title>
</head>

<body>

<h2>Employee Management System</h2>

<a href="/add">Add Employee</a>

<table border="1" cellpadding="10">

<tr>

<th>ID</th>
<th>Name</th>
<th>Department</th>
<th>Salary</th>
<th>Actions</th>

</tr>

{% for emp in employees %}

<tr>

<td>{{ emp[0] }}</td>
<td>{{ emp[1] }}</td>
<td>{{ emp[2] }}</td>
<td>{{ emp[3] }}</td>

<td>

<a href="/edit/{{ emp[0] }}">Edit</a>

<a href="/delete/{{ emp[0] }}">Delete</a>

</td>

</tr>

{% endfor %}

</table>

</body>

</html>
